* {
  scrollbar-color: rgba( 136, 52, 228, 1 ) #1f2029;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  background-color: #0f2663;
  width: 9px;
}

*::-webkit-scrollbar-track {
  width: 9px;
  border-left:solid 0.5px #0f2663
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(136,52,228,0.85) ;
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}
.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/test.gif);
    background-size: 100%;
    background-position: center center;
    z-index: 999;
    pointer-events: none;
    opacity: 0.10;
}
.front{
    z-index: 9999
}
body{
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}
body.dark{
    background: #101010;
    color: #fff;
}
body.dark-blue{
    background: -webkit-linear-gradient(rgba(7,21,58,1),rgb(9, 33, 99));
    background: -moz-linear-gradient(rgba(7,21,58,1),rgb(9, 33, 99));
    background: -o-linear-gradient(rgba(7,21,58,1),rgb(9, 33, 99));
    background: linear-gradient(rgba(7,21,58,1),rgb(9, 33, 99));
    color: #fff;
}
body.dark-discord{
    background: rgb(46,49,54);
    color: #fff;
}
h1,h2,h3,h4,h5,h6,.navbar-brand,
.h1,.h2,.h3,.h4,.h5,.h6,.navbar-brand{
    font-family: 'Georama', sans-serif;
    font-weight:900 !important;
}
.semi-bold{
    font-weight:600 !important;
}
.purpleGradient{
    background: -webkit-linear-gradient(rgba(136,52,228,1),rgba(255,99,244,1));
    background: -moz-linear-gradient(rgba(136,52,228,1),rgba(255,99,244,1));
    background: -o-linear-gradient(rgba(136,52,228,1),rgba(255,99,244,1));
    background: linear-gradient(rgba(136,52,228,1),rgba(255,99,244,1));
  
    -webkit-transition: background 0.3s ease-out;  
    -moz-transition: background 0.3s ease-out;  
    -o-transition: background 0.3s ease-out;  
    transition: background 0.3s ease-out; 
}
.btn.purpleGradient{
    border: none;
    background: -webkit-linear-gradient(rgba(136,52,228,1),rgba(255,99,244,1));
    background: -moz-linear-gradient(rgba(136,52,228,1),rgba(255,99,244,1));
    background: -o-linear-gradient(rgba(136,52,228,1),rgba(255,99,244,1));
    background: linear-gradient(rgba(136,52,228,1),rgba(255,99,244,1));
  
    -webkit-transition: background 0.3s ease-out;  
    -moz-transition: background 0.3s ease-out;  
    -o-transition: background 0.3s ease-out;  
    transition: background 0.3s ease-out;
}
.btn.purpleGradient:hover{
    
    background-position:100px; 
}
.rounded-4 {
    border-radius: 1rem!important;
}
.bg-dark{
    background: #211a2a !important;
}
.bg-dark-blue{
    background: -webkit-linear-gradient(rgba(7,21,58,1),rgb(9, 33, 99));
    background: -moz-linear-gradient(rgba(7,21,58,1),rgb(9, 33, 99));
    background: -o-linear-gradient(rgba(7,21,58,1),rgb(9, 33, 99));
    background: linear-gradient(rgba(7,21,58,1),rgb(9, 33, 99));
}
.bg-img{
    background-image: url(images/bg.jpg);
    background-size: 100% auto;
    background-repeat: none;
    background-position: center center;
    background-attachment: fixed;
}
.py-6{
    padding-top:5rem;
    padding-bottom:5rem;
}
.container.small-width{
    max-width:900px;
}
.border-left-dotted{
    border-left: dashed 1px #fff;
    position: relative;
}
.border-left-dotted:before{
    content:' ';
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background: #fff;
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
}
.border-left-dotted.last:after{
    content:' ';
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background: #fff;
    display: block;
    position: absolute;
    top: auto;
    left: -5px;
    bottom: -5px;
}
py-6{
    padding-top:6rem;
    padding-bottom:6rem;
}
.navbar-toggler {
    border: 0px;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.done{
    position: relative;
    overflow: hidden;
}
.done:before{
    content: 'Done';
    color: white;
    display: block;
    position: absolute;
    right: -50px;
    top: -5px;
    padding: 20px 50px 10px 50px;
    transform: rotate(45deg);
    background: #0dcaf0;
}

.border-dark{
    border-color:#333 !important;
}
body.dark-blue .border-dark{
    border-color:#0e1e46 !important;
}
.bg-dark{
    background: #000 !important;
}
body.dark-blue .bg-dark{
    background: #050f29 !important;
}

body.dark-discord .bg-dark {
    background:rgba(31,34,37,1) !important;
}
body.dark-discord .border-dark {
    background:rgba( 255, 255, 255, 0.05 )rgba(255,255,255,0.05) !important;
}